$primary-color: #FFC107;
$dark-primary-color: #FFA000;
$light-primary-color: #FFECB3;
$accent-color: #9E9E9E;
$text-color: #212121;
$secondary-text-color: #727272;
$divider-color: #B6B6B6;
$green: #a1e8dd; 
$white: #FFFFFF;
$black: #212121;