<div class="row">
  <div class="col-md-12">
    <app-image-carousel [interval]="NextPhotoInterval" [noWrap]="noLoopSlides">
      <app-image-slide *ngFor="let slidez of slides"
              [active]="slidez.active">
        <img [src]="slidez.image" style="margin:auto;">

        <div class="carousel-caption">
          <h3 style="background-color: transparent;color: white;">Slide {{index + 1}}</h3>
          <p  style="background-color: transparent;color: white;">{{slidez.text}}</p>
        </div>
      </app-image-slide>
    </app-image-carousel>
  </div>

  <div class="col-md-12">
    <button type="button" class="btn btn-info"
            (click)="removeLastSlide()">Remove Last Slide
    </button>
  </div>
</div>
