<md-card class="register-card">
  <md-card-content class="register-card-content">
    <md-list class="register-form">
      <h3>Thank You</h3>
      <md-list-item class="form-input">
        <h5>Buying a home and need life insurance?</h5>
      </md-list-item>
      <md-list-item class="form-input">bla blablab lab lba l blblab lbalabl balbalb lab lab</md-list-item>
      <md-list-item class="form-input">
        <a href="https://www.brightrock.co.za/">
          Get in touch with us! 
        </a>
      </md-list-item>
      <md-list-item class="form-input">
        <a class="next-button" type="submit" md-raised-button [routerLink]="['']">
          Later
        </a>
      </md-list-item>
    </md-list>
  </md-card-content>
  <img class="br-slab" src="https://res.cloudinary.com/swigbig/image/upload/v1469446689/BrightRock-Slab_wifgcz.png" />
  <!--<span class="login-link">Already registered? Login <a [routerLink]="['/login']">here</a></span>-->
</md-card>