<md-card class="register-card">
  <md-card-content class="register-card-content">
    <form class="register-form" (ngSubmit)="onSubmit()" #registerForm="ngForm">
      <h3>Profile Setup</h3>
      <md-input #username class="form-input" required [(ngModel)]="model.username" name="username" placeholder="email"></md-input>
      <md-input class="form-input" required [(ngModel)]="model.firstName" name="fname" placeholder="First Name"></md-input>
      <md-input class="form-input" required [(ngModel)]="model.lastName" name="lname" placeholder="Last Name"></md-input>
      <md-input class="form-input" required [(ngModel)]="model.password" name="password" placeholder="Password"></md-input>
      <md-input class="form-input"  required [(ngModel)]="confirmpassword" name="confirmpassword" placeholder="Confirm password"></md-input>
      <button class="register-button" type="submit"  [disabled]="!registerForm.form.valid" md-raised-button>
        <!--<md-icon class="md-24">add</md-icon>-->
        Sign up
      </button>
    </form>
  </md-card-content>
  <img class="br-slab" src="https://res.cloudinary.com/swigbig/image/upload/v1469446689/BrightRock-Slab_wifgcz.png" />
  <!--<span class="login-link">Already registered? Login <a [routerLink]="['/login']">here</a></span>-->
</md-card>