@import '../styles/colors.scss';
@import '../styles/_flexmixins.scss'; 
@import '../styles/_etcmixins.scss'; 

// //  display: flex;
// @include flexbox(); 
// // flex: 1;
// @include flex(1 0 auto); 
// //  flex-flow: column;
// @include flex-flow(column nowrap);
// //  align-items: center;
// // flex-grow: 1;
// @include flex-grow(1);
// @include align-items(center); 
// //  justify-content: space-between;
// @include justify-content(space-between); 
// // align-self: center;    
// @include align-self(center);
// // align-self: center;
// @include align-items(center);
// @include font-size(16);
// @include box-sizing(border-box);
// @include border-radius(0 10% 10% 0); 

.clearfix{
    &:before, &:after {
    content: '';
    clear: both;
    display: table;
  }
}

.container-card{
    width: 90%;
    margin: 0 auto;
}

.list-item-container{
    width: 100%;
    float: left; 
    p {
        float: left;
        width: 80%;
    }
    // md-checkbox{
    //     float: right;
    // }
}
.example-fill-remaining-space {
  // This fills the remaining space, by using flexbox.  
  // Every toolbar row uses a flexbox row layout. 
  flex: 1 1 auto;
}

.list-title{
    // display: flex;
    @include flexbox(); 
    // justify-content: space-between;
    @include justify-content(space-between);
    // align-items: center;
    @include align-items(center);
}

.list-title-inactive{
    //border-bottom: 2px dotted $divider-color;
    padding-bottom: 2vh;
}

.list-detail-container{
    // display: flex;
    @include flexbox(); 
    // flex-flow: column;
    @include flex-flow(column nowrap);

    .list-detail-subtitle{
        margin-left: 11vw;
    }
}

.list-button{
    // align-self: flex-end;
    @include align-self(flex-end);
    margin-top: 5vh;
}

.mobile-right{
    float: right;
}

.list-title span.list-title-primary {
    // display: flex;
    @include flexbox();
    // justify-content: center;
    @include justify-content(center);
    // align-items: center;
    @include align-items(center);

    background-color: $lightgray;
    width: 8vw;
    height: 8vw;
    // border-radius: 50%;
    @include border-radius(50%); 
    text-align: center;
    color: $white;
}

.list-title span.list-title-primary.list-title-primary-valid{
    background-color: $green;
}

.list-title span.list-title-secondary{
    // display: flex;
    @include flexbox();
    // flex: 1;
    @include flex(1);  
    // justify-content: space-between;
    @include justify-content(space-between);
    // align-items: center;
    @include align-items(center);

    margin-left: 11vw;
}
.list-title span.list-title-secondary-inactive{
    border-bottom: 2px dotted $darkgray;
    margin-left: 3vw;
}

.list-title p{
    // display: flex;
    @include flexbox(); 
}

.list-title-icon{
    // display: flex;
    @include flexbox();
    // align-items: center;
    @include align-items(center);
    // font-size: 18px;
    @include font-size(18);
}
.list-title-icon.button{
    // justify-content: center;
    @include justify-content(center);
    color: $accent-color; 
    // font-size: 12px;
    @include font-size(12);
    padding: 0;
}
.list-title-icon.score{
    color: $dark-primary-color;
    margin-right: 2vw;
}