md-sidenav-layout md-sidenav {
  width: 70%; }

md-sidenav-layout md-content {
  height: 100% !important;
  border: 3px solid green; }

md-toolbar {
  min-height: 10vh;
  height: 10vh;
  background-color: #FFECB3;
  border-radius: 0 0 10px 10px; }

md-toolbar-row {
  min-height: 10vh;
  height: 10vh; }

.expandedtoolbar {
  min-height: 16vh;
  border-radius: 0; }

.toolbar-dress {
  position: absolute;
  top: 0;
  height: 10vh;
  background-color: black;
  right: 0;
  left: 0;
  z-index: 0;
  border-radius: 0 0 10px 10px; }

.md-toolbar-menu {
  z-index: 1;
  color: #FFFFFF; }

.toolbar-title-container {
  display: flex;
  flex-flow: row nowrap;
  flex: 1 auto;
  z-index: 1;
  align-self: center;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  top: 10vh;
  height: 6vh;
  width: 100%;
  box-sizing: border-box;
  left: 0;
  padding-left: 24px; }
  .toolbar-title-container .toolbar-title {
    flex: 1;
    display: flex; }
