// @import '../styles/colors.scss';
// // md-content {
// //     height: 100%;
// // }
// .container {
//     // height: 0;
//     // display:flex;
//     // overflow: scroll;
//     flex-flow: row wrap;
//     // min-height: -webkit-min-content;
//     // display: flex;
//      border:1px solid red;
//     flex: 1;
//     display: flex;
//     overflow-y: auto;
// }

// .box {
//   min-height: -webkit-min-content;
//   //min-width: -webkit-min-content;
//   display: flex;
// }

// md-card{
//     box-sizing: border-box ;
//     //float: left;
//     margin: 1vw;

//     img{
//         border-radius: 2px 2px 0 0;
//     }

//     md-card-subtitle {
//         font-size: 18px; 
//     }  
// }

// .passive {
//     width: 48vw; 
//     md-card-subtitle {
//         font-size: 14px; 
//     }
// }

// .scorecard-total{
//     position: absolute;
//     width: 20%;
//     height: 20%;
//     top: 0;
//     right: 5%;
//     background-color: transparentize($color: black, $amount: 0.5);
//     border-radius: 0 0 20px 20px;
//     font-size: 10vw;
//     text-align: center;
//     color: $white;
//     p {
//         margin: 0;
//         padding-top: 10%;
//     }
// }

// .smalltotal{
//     font-size: 5vw;
//     border-radius: 0 0 10px 10px;
// }

// .scorecard-headline-detail{
//     float: right; 
//     font-size: 16px;
//     margin-left: 5%;
// }
// .clearfix{
//     &:before, &:after {
//     content: '';
//     clear: both;
//     display: table;
//   }
// }

// // .mother{
// //     display: flex;
// //     flex-flow: row nowrap;
// //     align-items: center;

// //     .sync-container{
// //         margin-right: 4%;
// //         .sync-indicator{
// //             border-radius: 50%;
// //             width: 30px;
// //             height: 30px; 
// //             background: red;
// //         }
// //     }

// //     .brother{
// //         flex-flow: row wrap;
// //         flex-grow: 30;
// //         justify-content: space-between;
// //         align-items: flex-start;
// //     }
// //     .child1{
// //         display: flex;
// //         font-size: 14px;
// //         font-weight: 400;
// //         margin-bottom: 16px;
// //     }
// //     .child2{
// //         display: flex;
// //         align-self: flex-start;
// //         align-items: center;
// //     }
// //     .child3{
// //         display: flex;
// //         //flex: 1;
// //     }
// //     .child4{
// //         flex: 1;
// //     }
// // }

// .expander {
//   // This fills the remaining space, by using flexbox.  
//   // Every toolbar row uses a flexbox row layout. 
//   flex: 1 1 auto;
// }

// // footer {
// //   height:40px;
// //   bottom:0;
// //   background-color: #001F3F;
// //   color:white;
// //   display: flex;
// //   justify-content: space-around;
// // }

// .body {
//   position: absolute;
//   top: 10vh; // Toolbar height
// //   right: 2vw;
// //   left: 2vw;
//   bottom: 0;
//   height: 90vh;
//   display: flex;
// }

// .accommodate-exp-toolbar{
//     top: 16vh;
// //   top: 100px;
//     height: 84vh; 
// }

// .main {
//   flex: 1;
//   display: flex;
//   flex-direction: column;
// }

// .content {
//   flex: 1;
//   display: flex;
//   overflow: auto;
//   background: $white;
//   padding: 0 2vw; 
// }

// .box {
//     display: flex;
//     min-height: -webkit-min-content;
//     flex-flow: row wrap;
// }


// // START : Panel that appears atop Dashboard
// .dashboard-synopsis{
//     display: flex;
//     flex-flow: column; 
//     width: 100%;
//     font-family: Roboto, "Helvetica Neue", sans-serif;
//     margin-bottom: 1vh;
//     h4,h5{
//         margin-top: 1vh; 
//         margin-bottom: 2vh; 
//     }
// }
// .stats-container{
//     display: flex;
//     justify-content: space-around;
//     align-items: center;

//     .stats{
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-flow: column; 
//         p{
//             text-transform: uppercase;
//             color: $accent-color;
//             margin: 0;
//             font-size: 12px;
//         }
//         span{
//             font-size: 32px;
//             font-weight: bold;
//         }
//     }
// }
// .top-property-container{
//     display: flex;
//     flex-flow: row nowrap;
//     align-items: flex-start;
//     margin-top: 2vh;
//     font-size: 12px;
//     font-weight: 500;

//     .top-property-score{
//         display: flex;
//         justify-content: space-around;
//         align-items: center;
//         flex-flow: column; 
//         p{
//             margin: 0;
//             font-size: 12px;
//         }
//         span{
//             color: $dark-primary-color;
//             font-size: 40px;
//             font-weight: bold;
//         }
//     }

//     .top-property-details{
//         flex-flow: row wrap;
//         flex-grow: 1;
//         justify-content: space-between;
//         align-items: flex-start;
//         padding-left: 4vw; 
//     }
//     .top-property-address{
//         display: flex;
//         margin-bottom: 16px;
//     }
//     .top-property-price{
//         display: flex;
//     }
//     .top-property-breakdown{
//         flex: 1;
//         display: flex;
//         justify-content: flex-end;
//         padding-right: 5vh;
//     }

//     .top-property-breakdown-detail {
//         margin-left: 5%;
//     }
// }
// .new-user-guide{
//     font-size: 11px; 
//     font-weight: 500;
//     margin-bottom: 2vh;
        
//     .guide-container {
//         display: flex;
//         justify-content: space-between;
//         align-items: center;
//         margin-bottom: 2vh;
//     }
//     .hca-primary-button {
//         color: $white;
//         background-color: $dark-primary-color;
//     }
//     .guide-title{
//         flex: 1;
//         margin-left: 4vw;
//     }
//     .guide-icon{
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         background-color: gray;
//         width: 8vw;
//         height: 8vw;
//         border-radius: 50%;
//         text-align: center;
//         color: $white;
//     }
//     .guide-active .guide-icon{
//         background-color: $green;
//     }
// }
// // END : Panel that appears atop Dashboard

// .bottom-navigation{
//     display: flex;
//     background-color: $primary-color; 
//     color: $white;
//     align-items: center; 
//     height: 8vh;
//     .button-container{
//         display: flex;
//         flex-grow: 1;
//         height: 100%;
//         background-color: $primary-color; 
//     }
// }

// *************************************************************************************************************

// DASHBAORD

@import '../styles/colors.scss';
@import '../styles/_flexmixins.scss'; 
@import '../styles/_etcmixins.scss'; 


// //  display: flex;
// @include flexbox(); 
// // flex: 1;
// @include flex(1 0 auto); 
// //  flex-flow: column;
// @include flex-flow(column nowrap);
// //  align-items: center;
// // flex-grow: 1;
// @include flex-grow(1);
// @include align-items(center); 
// //  justify-content: space-between;
// @include justify-content(space-between); 
// // align-self: center;    
// @include align-self(center);
// // align-self: center;
// @include align-items(center);
// @include font-size(16);
// @include box-sizing(border-box);
// @include border-radius(0 10% 10% 0);

.container {

    // height: 0;
    // flex-flow: row wrap;
    // border:1px solid red;
    // flex: 1;
    // display: flex;
    // overflow-y: auto;

    //  display: flex;
    @include flexbox(); 
    // flex: 1;
    @include flex(1 0 auto); 
    //  flex-flow: row wrap;
    @include flex-flow(row wrap);
    // border:1px solid red;
    overflow-y: auto;
    height: 0; 
}

.box {
    //  display: flex;
    @include flexbox();
    min-height: -webkit-min-content;
}

md-card{

    // box-sizing: border-box;
    @include box-sizing(border-box);
    margin: 1vw;

    img{
        // border-radius: 2px 2px 0 0;
        @include border-radius(2px 2px 0 0);
    }

    md-card-subtitle {
        // font-size: 18px;
        @include font-size(18); 
    }  
}

.dash-card-container{
    width: 100%; 
}

.passive {
    width: 48vw; 
    md-card-subtitle {
        // font-size: 14px;
        @include font-size(14); 
    }
}

.scorecard-total{
    position: absolute;
    width: 20%;
    height: 20%;
    top: 0;
    right: 5%;
    background-color: transparentize($color: black, $amount: 0.5);
    // border-radius: 0 0 20px 20px;
    @include border-radius(0 0 20px 20px);
    // @include font-size(16); Include below
    font-size: 10vw;
    text-align: center;
    color: $white;
    p {
        margin: 0;
        padding-top: 10%;
    }
}

.smalltotal{
    // @include font-size(16); Include below
    font-size: 5vw;
    // border-radius: 0 0 10px 10px;
    @include border-radius(0 0 10px 10px);
}

.scorecard-headline-detail{
    float: right; 
    // font-size: 16px;
    @include font-size(16);
    margin-left: 5%;
}
.clearfix{
    &:before, &:after {
    content: '';
    clear: both;
    display: table;
  }
}

// .content {
//   flex: 1;
//   display: flex;
//   overflow: auto;
//   background: $white;
//   padding: 0 2vw; 
// }

// .box {
//     display: flex;
//     min-height: -webkit-min-content;
//     flex-flow: row wrap;
// }




.body {

    // position: absolute;
    // top: 10vh; // Toolbar height
    // bottom: 0;
    // height: 90vh;
    // display: flex;

    //  display: flex;
    @include flexbox(); 
    position: absolute;
    top: 10vh; // Toolbar height
    bottom: 0;
    height: 90vh;
}

.accommodate-exp-toolbar{
    top: 16vh;
    height: 84vh; 
}

.main {

//   flex: 1;
//   display: flex;
//   flex-direction: column;

    //  display: flex;
    @include flexbox(); 
    // flex: 1;
    @include flex(1); 
    //  flex-flow: column;
    @include flex-flow(column nowrap);
}

.content {

    //   flex: 1;
    //   display: flex;
    //   overflow: auto;
    //   background: $white;
    //   padding: 0 2vw; 

    //  display: flex;
    @include flexbox(); 
    // flex: 1;
    @include flex(1); 
    overflow: auto;
    background: $white;
    padding: 0 2vw; 
}

.iosbrowser{
  //  display: flex;
  @include flexbox(); 
  // flex: 1;
  @include flex(1 0 auto); 
  overflow: auto;
  height: 77vh; // Was 70.... See Note 1. 
}

.box {
    //  display: flex;
    @include flexbox(); 
    //  flex-flow: row;
    @include flex-flow(row wrap);
    min-height: -webkit-min-content;     
    padding-top: 2vh;
}

// // START : Panel that appears atop Dashboard
// .dashboard-synopsis{
//     //  display: flex;
//     @include flexbox(); 
//     //  flex-flow: column;
//     @include flex-flow(column nowrap);
//     width: 100%;
//     font-family: Roboto, "Helvetica Neue", sans-serif;
//     margin-bottom: 1vh;
//     h4,h5{
//         margin-top: 1vh; 
//         margin-bottom: 2vh; 
//     }
// }
// .stats-container{

//     // display: flex;
//     // justify-content: space-around;
//     // align-items: center;

//     //  display: flex;
//     @include flexbox(); 
//     //  justify-content: space-around;
//     @include justify-content(space-around);
//     // align-items: center;    
//     @include align-items(center);

//     .stats{
//         //  display: flex;
//         @include flexbox(); 
//         //  flex-flow: column;
//         @include flex-flow(column nowrap);
//         //  justify-content: space-around;
//         @include justify-content(space-around);
//         // align-items: center;    
//         @include align-items(center);
//         p{
//             text-transform: uppercase;
//             color: $accent-color;
//             margin: 0;
//             // font-size: 12px;
//             @include font-size(12);
//         }
//         span{
//             // font-size: 32px;
//             @include font-size(32);
//             font-weight: bold;
//         }
//     }
// }
// .top-property-container{
//     //  display: flex;
//     @include flexbox(); 
//     //  flex-flow: row;
//     @include flex-flow(row nowrap);
//     // align-items: flex-start;    
//     @include align-items(flex-start);
//     margin-top: 2vh;
//     // font-size: 12px;
//     @include font-size(12);
//     font-weight: 500;

//     .top-property-score{
//         //  display: flex;
//         @include flexbox(); 
//         // justify-content: space-around;
//         @include justify-content(space-around);
//         // align-items: center;
//         @include align-items(center);
//         // flex-flow: column;
//         @include flex-flow(column nowrap); 
//         p{
//             margin: 0;
//             // font-size: 12px;
//             @include font-size(12);
//         }
//         span{
//             color: $dark-primary-color;
//             // font-size: 40px;
//             @include font-size(40);
//             font-weight: bold;
//         }
//     }

//     .top-property-details{
//         // flex-flow: row wrap;
//         @include flex-flow(row wrap); 
//         // flex-grow: 1;
//         @include flex-grow(1);
//         // justify-content: space-between;
//         @include justify-content(space-between);
//         // align-items: flex-start;
//         @include align-items(flex-start);
//         padding-left: 4vw; 
//     }
//     .top-property-address{
//         //  display: flex;
//         @include flexbox();
//         margin-bottom: 16px;
//     }
//     .top-property-price{
//         //  display: flex;
//         @include flexbox();
//     }
//     .top-property-breakdown{
//         //  display: flex;
//         @include flexbox();
//         // flex: 1;
//         @include flex(1 0 auto); 
//         // justify-content: flex-end;
//         @include justify-content(space-between);
//         padding-right: 5vh;
//     }

//     .top-property-breakdown-detail {
//         margin-left: 5%;
//     }
// }
// .new-user-guide{
//     // font-size: 11px;
//     @include font-size(11); 
//     font-weight: 500;
//     margin-bottom: 2vh;
        
//     .guide-container {
//         // display: flex;
//         @include flexbox(); 
//         // justify-content: space-between;
//         @include justify-content(space-between);
//         // align-items: center;
//         @include align-items(center);
//         margin-bottom: 2vh;
//     }
//     .hca-primary-button {
//         color: $white;
//         background-color: $dark-primary-color;
//     }
//     .guide-title{
//         flex: 1;
//         margin-left: 4vw;
//     }
//     .guide-icon{
//         // display: flex;
//         @include flexbox(); 
//         // justify-content: center;
//         @include justify-content(center);
//         // align-items: center;
//         @include align-items(center);
//         background-color: gray;
//         width: 8vw;
//         height: 8vw;
//         // border-radius: 50%;
//         @include border-radius(50%);
//         text-align: center;
//         color: $white;
//     }
//     .guide-active .guide-icon{
//         background-color: $green;
//     }
// }
// // END : Panel that appears atop Dashboard

.bottom-navigation{
    // display: flex;
    @include flexbox();
    // align-items: center;
    @include align-items(center);
    background-color: $primary-color; 
    color: $white;
    height: 8vh;
    .button-container{
        // display: flex;
        @include flexbox();
        // flex-grow: 1;
        @include flex-grow(1);
        // justify-content: center;
        @include justify-content(center);
        height: 100%;
        background-color: $primary-color; 
    }
}
