@import '../styles/colors.scss'; 
@import '../styles/_flexmixins.scss'; 
@import '../styles/_etcmixins.scss'; 

md-card.stepper-card{
    //  display: flex;
    @include flexbox(); 
    // box-sizing: border-box;
    @include box-sizing(border-box);
    width: 100%;
    min-height: 100vh;
    padding-bottom: 15vh;
}
.clearfix{
    &:before, &:after {
    content: '';
    clear: both;
    display: table;
  }
}

.stepper-title{
    //  display: flex;
    @include flexbox(); 
    //  justify-content: space-between;
    @include justify-content(space-between);
    // align-items: flex-start;
    @include align-items(flex-start); 
    margin-top: 10px;
    // font-size: 18px;
    @include font-size(18);
    .title{
        // flex: 1;
        @include flex(1 0 auto); 
        text-transform: uppercase; 
        padding-left: 2vw; 
    }
}

.arr-camera{
    background: $green; 
    color: $white; 
}
.arr-save{
    background: $dark-primary-color; 
    color: $white;
    margin: 2vh 0; 
}

.stepper-icon{
    color: $white; 
}

.stepper-icon-inactive{
    background-color: $divider-color; 
}
.stepper-icon-active{
    background-color: $green; 
}

.stepper-detail-container{
    margin-left: 5.5vw;
    margin-right: 5vw;
    padding-left: 10%;
    width: 70vw;
}
.stepper-detail-container.rate-container{
    margin-left: 0;
    padding-left: 0;
}

.stepper-border{
    border-left: 2px dotted $divider-color;
}

.stepper-photo-button-container{
    //  display: flex;
    @include flexbox(); 
    //  justify-content: flex-end;
    @include justify-content(flex-end);
}

// ADD SECTION 
.add-form{
    //  display: flex;
    @include flexbox(); 
    //  flex-flow: column;
    @include flex-flow(column nowrap);

    md-input{
        // flex: 1;
        @include flex(1 0 auto); 
    }
}
.add-button{
    // align-self: flex-end;    
    @include align-self(flex-end);
}

.property-container{
    //  display: flex;
    @include flexbox(); 
    //  flex-flow: row nowrap;
    @include flex-flow(row nowrap);
    //  align-items: flex-start;
    @include align-items(flex-start); 
    // font-size: 12px;
    @include font-size(12);
    font-weight: 500;
    
    .property-details{
        //  flex-flow: row nowrap;
        @include flex-flow(row nowrap);
        // flex-grow: 1;
        @include flex-grow(1);
        //  justify-content: space-between;
        @include justify-content(space-between);
        //  align-items: flex-start;
        @include align-items(flex-start); 
    }
    .property-address{
        //  display: flex;
        @include flexbox(); 
        margin-bottom: 1vh;
    }
    .property-price{
        //  display: flex;
        @include flexbox(); 
    }
    .property-breakdown{
        // flex: 1;
        @include flex(1 0 auto); 
        //  display: flex;
        @include flexbox(); 
        //  justify-content: flex-end;
        @include justify-content(flex-end);
    }

    .property-breakdown-detail {
        margin-left: 5%;
    }
}

// IMAGE SECTION

// REVIEW SECTION

.rate-container{
    width: 87vw; 
}

