<!--<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav class="sidenav">
    <md-nav-list>
      <a md-list-item [routerLink]="['']">
          <span md-line>Dashboard</span>
      </a> 
      <a md-list-item [routerLink]="['/wishlist']">
          <span md-line>Wishlist</span>
      </a> 
      <a md-list-item [routerLink]="['/images']">
          <span md-line>Image Gallery</span>
      </a> 
      <a md-list-item [routerLink]="['/images/1']">
          <span md-line>Image Viewer</span>
      </a> 
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.open()">
      <md-icon>menu</md-icon>
    </button>
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-layout>-->

<md-sidenav-layout fullscreen>
  <md-sidenav #sidenav class="sidenav">
    <md-nav-list>
      <a md-list-item [routerLink]="['']">
          <span md-line>Dashboard</span>
      </a> 
      <a md-list-item [routerLink]="['wishlist']">
          <span md-line>Wishlist</span>
      </a> 
      <a md-list-item [routerLink]="['login']">
          <span md-line>Login</span>
      </a> 
      <a md-list-item (click)="logout()">
          <span md-line>Logout</span>
      </a> 
      <a md-list-item [routerLink]="['/images']">
          <span md-line>Image Gallery</span>
      </a> 
      <a md-list-item [routerLink]="['/images/1']">
          <span md-line>Image Viewer</span>
      </a> 
    </md-nav-list>
  </md-sidenav>
  <md-toolbar class="hca-toolbar" [ngClass]="{ expandedtoolbar: !!title }" > <!---->
    <button class="md-toolbar-menu" md-icon-button (click)="sidenav.open()">
      <md-icon >menu</md-icon>
    </button>
    <div class="toolbar-title-container"> <!--*ngIf="authenticated" -->
      <div class="toolbar-title">{{title}}</div>
      <button class="toolbar-cancel" md-icon-button (click)="commonService.setTitle('')"> <!---->
        <md-icon >cancel</md-icon>
      </button>
    </div>
    <div class="toolbar-dress"></div>
  </md-toolbar>

  <router-outlet></router-outlet>
</md-sidenav-layout>