[type=range] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%; }
  [type=range]:focus {
    outline: none; }
  [type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    transition: all .2s ease;
    background: #9E9E9E; }
  [type=range]::-webkit-slider-thumb {
    padding-bottom: 7.5%;
    width: 7.5%;
    border-radius: 50%;
    background: #FFA000;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -10px; }
  [type=range]:focus::-webkit-slider-runnable-track {
    background: #ababab; }
  [type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    transition: all .2s ease;
    background: #9E9E9E; }
  [type=range]::-moz-range-thumb {
    padding-bottom: 7.5%;
    width: 7.5%;
    border-radius: 50%;
    background: #FFA000;
    cursor: pointer; }
  [type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    transition: all .2s ease;
    background: transparent;
    border-color: transparent;
    border-width: 7.5% 0;
    color: transparent; }
  [type=range]::-ms-fill-lower {
    background: #919191; }
  [type=range]::-ms-fill-upper {
    background: #9E9E9E; }
  [type=range]::-ms-thumb {
    padding-bottom: 7.5%;
    width: 7.5%;
    border-radius: 50%;
    background: #FFA000;
    cursor: pointer; }
  [type=range]:focus::-ms-fill-lower {
    background: #9E9E9E; }
  [type=range]:focus::-ms-fill-upper {
    background: #ababab; }

span.range-slider__value {
  background: url("https://res.cloudinary.com/swigbig/image/upload/v1469548233/tag_p3enhs.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20%;
  display: block;
  text-align: center;
  height: 6vh;
  font-size: 4vh;
  color: white; }
  span.range-slider__value md-icon {
    position: absolute; }

.range-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row nowrap;
  -moz-flex-flow: row nowrap;
  -ms-flex-flow: row nowrap;
  flex-flow: row nowrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  -moz-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
  -moz-align-items: flex-end;
  align-items: flex-end;
  width: 90%;
  margin: 0 auto; }

.range-slider {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -moz-box-flex: 1;
  -moz-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.range-description {
  margin: 0 10px;
  padding: 0;
  font-size: 10px; }
