.carousel {
  position: relative;
  overflow: hidden;
  width: 100%; }

.slides {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  padding: 0;
  margin: 0;
  margin-bottom: 2px;
  list-style: none;
  background-color: #212121;
  transition: 0.3s; }

.slides > li {
  box-sizing: border-box;
  position: relative;
  float: left; }

.carousel img {
  display: block;
  width: 100%;
  max-width: 100%; }

.carousel h2 {
  margin-bottom: 0;
  font-size: 1em;
  padding: 1.5em 0.5em 1.5em 0.5em;
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75);
  text-transform: uppercase; }

.carousel-pointer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  height: 10%;
  width: 12.5%;
  background: rgba(0, 0, 0, 0.5);
  transform: translate(0, -50%);
  color: white; }

.pointer-left {
  left: 0;
  border-radius: 0 10px 10px 0; }

.pointer-right {
  right: 0;
  border-radius: 10px 0 0 10px; }
