md-card.stepper-card {
  min-height: 100vh;
  padding-bottom: 15vh;
  display: flex; }

.clearfix:before, .clearfix:after {
  content: '';
  clear: both;
  display: table; }

.stepper-title {
  margin-top: 10px;
  font-size: 18px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .stepper-title .title {
    text-transform: uppercase;
    flex: 1;
    padding-left: 2vw; }

.arr-camera {
  background: #a1e8dd;
  color: #FFFFFF; }

.arr-save {
  background: #FFA000;
  color: #FFFFFF;
  margin: 2vh 0; }

.stepper-icon {
  color: #FFFFFF; }

.stepper-icon-inactive {
  background-color: #B6B6B6; }

.stepper-icon-active {
  background-color: #a1e8dd; }

.stepper-detail-container {
  margin-left: 5.5vw;
  margin-right: 5vw;
  padding-left: 10%; }

.stepper-detail-container.rate-container {
  margin-left: 0;
  padding-left: 0; }

.stepper-border {
  border-left: 2px dotted #B6B6B6; }

.stepper-photo-button-container {
  display: flex;
  justify-content: flex-end; }

.add-form {
  display: flex;
  flex-flow: column; }
  .add-form md-input {
    flex: 1; }

.add-button {
  align-self: flex-end; }

.property-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-start;
  font-size: 12px;
  font-weight: 500; }
  .property-container .property-details {
    flex-flow: row wrap;
    flex-grow: 1;
    justify-content: space-between;
    align-items: flex-start; }
  .property-container .property-address {
    display: flex;
    margin-bottom: 1vh; }
  .property-container .property-price {
    display: flex; }
  .property-container .property-breakdown {
    flex: 1;
    display: flex;
    justify-content: flex-end; }
  .property-container .property-breakdown-detail {
    margin-left: 5%; }
