<md-card class="register-card">
  <md-card-content class="register-card-content">
    <md-list class="register-form">
      <md-list-item class="form-input">
        <h5>What is this app used for?</h5>
      </md-list-item>
      <md-list-item class="form-input">bla blablab lab lba l blblab lbalabl balbalb lab lab</md-list-item>
      <md-list-item class="form-input">
        <h5>Setting Up Your Wishlist</h5>
      </md-list-item>
      <md-list-item class="form-input">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      </md-list-item>
      <md-list-item class="form-input">
        <h5>Adding Your First Property</h5>
      </md-list-item>
      <md-list-item class="form-input">
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
      </md-list-item>
      <md-list-item class="form-input">
        <a class="next-button" type="submit"  md-raised-button [routerLink]="['/register']">
          Let's Go
        </a>
      </md-list-item>
    </md-list>
  </md-card-content>
  <img class="br-slab" src="https://res.cloudinary.com/swigbig/image/upload/v1469446689/BrightRock-Slab_wifgcz.png" />
  <!--<span class="login-link">Already registered? Login <a [routerLink]="['/login']">here</a></span>-->
</md-card>