@import '../styles/colors.scss';
@import '../styles/_flexmixins.scss'; 
@import '../styles/_etcmixins.scss';  

a{
    color: inherit;
    text-decoration: none;
}
.container-card{
    min-height: 100vh;
    @include clearfix();
}
h6 {
    margin: 0;
}
.image-strip{
    @include clearfix();
    margin-top: 15px; 
    padding-bottom: 5px;
    border-bottom: 1px dotted $divider-color;
}

.gallery-line-item{
    @include clearfix();
    margin-bottom: 2vh;
    width: 100%;
}

.grid-list-image{
    width: 100%; 
}