<md-card class="container-card">
  <md-list>
    <md-list-item> <!--*ngFor="let property of properties"-->
      <h5 md-line>Some property address in a suburb</h5>
      <div md-line class="image-strip">
        <md-grid-list cols="6">
          <md-grid-tile [style.background]="'lightblue'">One</md-grid-tile>
          <md-grid-tile [style.background]="'lightblue'">Two</md-grid-tile>
          <md-grid-tile [style.background]="'lightblue'">Three</md-grid-tile>
          <md-grid-tile [style.background]="'lightblue'">Four</md-grid-tile>
          <md-grid-tile [style.background]="'lightblue'">Five</md-grid-tile>
          <md-grid-tile [style.background]="'lightblue'">Six</md-grid-tile>
        </md-grid-list>
      </div>
    </md-list-item>
  </md-list>
</md-card>
